:root {
    --main-color: #EB841C;
    --dark-shade: #373237;
    --dark-accent: #9B775A;
    --light-accent: #8BAAB4;
    --light-shade: #F7F1F3;
  }
  body{background-color:var(--dark-shade);}
h1{color:var(--dark-accent); text-align: center;font-family: fantasy;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;}
h2{color:var(--dark-accent); text-align: center; font-family: 'Courier New', Courier, monospace;}
h3{color:var(--dark-shade); text-align: center;font-family: 'Times New Roman', Times, serif;text-shadow: 2px 2px 5px red;}
h4{color: var(--dark-shade);text-align: center;font-family: 'Courier New', Courier, monospace;text-shadow: 2px 2px 5px red;}
p{color: var(--dark-shade); font-family: serif;text-align: center;text-shadow: 2px 2px 5px red;}
label{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
[class*="col-"]{
    width:100%;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}
ul {/*粘性导航栏*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  #logo{
    min-width: 50%;
  
  }
  #logoCon{
    display: flex;
    justify-content: center;
  }
  
  .blogpost {/*半透明框框*/
    max-width: 800px;
    margin: 100px auto -70px;
    color: black;
    background-color: rgb(255, 255, 255, 0.8);
    text-align: left;
    padding: 15px;
    width:100%;
    border-radius: 25px;
  }
  .header {/*头页*/
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    margin-top: 150px;
  }
  .footer {/*脚页*/
    background-color: var(--dark-shade);
    padding: 10px;
    text-align: center;
  }
  #bgimage {/*背景图片*/
    background: url(../QiDom/img/gh.jpeg);
    background-size: 100% auto auto;
    background-position: 50% 0%;
    background-attachment: fixed;
  }
  .button {/*按钮*/
    display: inline-block;
    border-radius: 4px;
    background-color: var(--dark-shade);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }