@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

:root {
  --main-color: #66d7db;
  --dark-shade: #23222F;
  --dark-accent: #eb5f6c;
  --light-accent: #b0a1a7;
  --light-shade: #fbfafb;
}

.qd-bg-dark {
  background: var(--dark-shade);
}

.qd-bg-light {
  background: var(--light-accent);
}

.qd-text-col-main {
  color: var(--main-color);
}

.qd-text-col-secondary {
  color: var(--dark-accent);
}

.qd-text-col-light {
  color: var(--light-accent);
}

.qd-text-col-light2 {
  color: var(--light-shade);
}

.box-1 {
  border-radius: 5px;
  background: rgba(30, 30, 30, 0.8);
}

.qd-btn-hover {
  background: none;
  transition: 1.5s ease-out;
  border-bottom: 1px transparent solid;
}

.qd-btn-hover:hover {
  background: var(--main-color);
  transition: 0.4s ease-out;
  border-bottom: 1px var(--dark-accent) solid;
  color: var(--light-shade);
}

/* Utils */
.logo {
  color: var(--light-accent);
  font-family: 'Syncopate';
  font-size: 1.5em;
  text-decoration: none;
}

.navbar {
  background: #1f1f1f;
  position: sticky;
}

/*
.navbar a {
  background: none;
  transition: 1.5s ease-out;
  border-bottom: 1px transparent solid;
}

.navbar a:hover {
  background: var(--main-color);
  transition: 0.4s ease-out;
  border-bottom: 1px var(--dark-accent) solid;
}
*/
.banner {
  z-index: -1000;
  position: fixed;
}

.banner img {
  min-width: 100vw;
  height: 100vh;
}

/* INDEX */
/* CONTENT */
#carouselExampleFade {
  border-radius: 10px;
}

#startbuttons {
  margin-bottom: auto;
}

.start-button-parent {
  height: 130%;
  overflow: hidden;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
}

.startbutton2 {
  height: 200px;
}

.start-button-child {
  height: 100%;
  background-size: cover;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.start-button-grandchild {
  height: 100%;
  background-color: black;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2em;
  text-decoration: none;
  font-family: 'Syncopate';
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.start-button-parent:hover {
  box-shadow: 0 0 30px var(--main-color);
  z-index: 10;
}

.start-button-grandchild:hover {
  color: var(--main-color);
  background-color: rgba(30, 30, 30, 1);
  opacity: 0.9;
}

.start-button-child:hover {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.sb-login {
  background-image: url(../img/startbutton/login.jpg);
}

.sb-news {
  background-image: url(../img/startbutton/news.jpg);
}

.sb-contact {
  background-image: url(../img/startbutton/contact.jpg);
}

.sb-impressum {
  background-image: url(../img/startbutton/impressum.jpg);
}

/* Impressum */
